@import "tailwindcss";
/* Hide scrollbar but keep scroll functionality */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
